<h1>Listing lineitems</h1>

<table>
  <tr>
    <th>Hours</th>
    <th>Timesheet</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lineitems.each do |lineitem| %>
  <tr>
    <td><%= lineitem.hours %></td>
    <td><%= lineitem.timesheet_id %></td>
    <td><%= lineitem.category_id %></td>
    <td><%= link_to 'Show', lineitem %></td>
    <td><%= link_to 'Edit', edit_lineitem_path(lineitem) %></td>
    <td><%= link_to 'Destroy', lineitem, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lineitem', new_lineitem_path %>
